@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,400;0,700;1,400&display=swap');

h2 {
    font-family: "Lato";
    background-color: #dbc2a4;
    color: black;
}

#corpsCV {
    background-color: white;
    border:1px solid black ;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;    
    padding-right: 10px;
}

#texte{
    display: grid;
    grid-template-columns: 1fr 2fr;    
}

#infosurmoi {
    color: white;
    display: flex;
    flex-direction: column;
    justify-self: start;
    width: 300px;   
    text-indent: 20px;
}



#CV-container{
    background-color: #782221;
    width: 1160px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    padding-top: 20px;   
}

#infosecondaire{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: white ;
    padding-right: 20px;
    padding-left: 20px;   
    font-style: italic;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}

#photo{
    border-radius: 50%;
    box-shadow: 10px 10px 20px black;
    width: 150px;
    height: 150px;
    margin: auto;
    display: block;
    object-fit: cover;    
}



#infoprimaire{
    text-align: center;
    padding-bottom: 20px;
    font-size: 25px;
    color: white;

}

#textapropos{
    padding-left: 20px;
}

img{
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    
}

#corpsCV h2:hover{
    text-decoration: underline #782221;
}




